label {
  display: block;
  position: relative;
  padding: 5px;
  font-size: 17px;
}

label > span {
  position: absolute;
  left: 0;
}

h2 {
  color: black;
}

input[type="text"] {
  width: 16vw;
  height: 3vh;
  margin-left: 5px;
}

input[type="number"] {
  width: 8vw;
  height: 3vh;
  margin-left: 5px;
}

select {
  width: 8vw;
  height: 3vh;
  margin-left: 5px;
}

input[type="radio"] {
  width: 1vw;
}

.login-submit-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn,
.login-btn,
.submit-salary-btn {
  font-size: 1.2em;
  padding: 0.3em 2em;
  border-radius: 50rem;
  border-style: none;
  margin: 2%;
  background-color: #bfbdbd;
  font-family: "system-ui";
}

.login-btn {
  margin-bottom: 3%;
}

.submit-btn:hover,
.login-btn:hover,
.submit-salary-btn:hover {
  cursor: pointer;
  background-color: #17f1fb;
}

@media screen and (max-width: 900px) {
  label {
    padding: 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  label {
    padding: 5px;
    font-size: 16px;
  }

  .submit-btn {
    font-size: 1.1em;
  }

  input[type="radio"] {
    width: 3vw;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 3px;
    font-size: 12px;
  }

  .submit-btn {
    font-size: 1em;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
  }

  input[type="radio"] {
    width: 3vw;
  }
}
