label {
display:block;
position:relative;
padding-left:120px; /* adjust if necessary */
}
label > span {
position:absolute;
left:0;
}

.login-submit-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn, .login-btn {
  font-size: 1.2em;
  padding: .3em 2em;
  border-radius: 50rem;
  border-style: none;
  margin: 1%;
  background-color: #bfbdbd;
  font-family: "system-ui"
}

.submit-btn:hover,
.login-btn:hover {
  cursor: pointer;
  background-color: #17F1FB;
}

.href {
 color: white;
}
