.side-drawer {
  background: white;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 65vw;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

@media screen and (max-width: 900px) {
  .side-drawer {
    width: 60vw;
  }
}

@media screen and (max-width: 700px) {
  .side-drawer {
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .side-drawer {
    width: 80vw;
  }
}
