.cover {
    background: transparent url(coverimg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 2rem 1rem;
    height: 15rem;
}

.coverview {
    margin: 0;
}

.median {
  color: white;
  font-size: 5em;
  float: right;
  margin: 0;
  padding: 0;
}

.tri-color-band {
  height: 0.625rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.yellow {
  background: #f9ae06;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.red {
  background: #ef3852;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.blue {
  background: #12f1fc;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.cover-title {
    color: #ffffff;
    font-size: 3em;
}
