.card {
  font-size: .85em;
  border-radius: 2%;
  border: 1px solid black;
  background-color: #005470;
  color: white;
  height: 40vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-info {
  margin: 2%;
  padding: 0;
}

.salary {
  color: #F9AE06;
  font-size: 1.1em;
}
