.card {
  font-size: .8em;
  border-radius: 2%;
  border: 1px solid black;
  background-color: #005470;
  color: white;
  height: 40vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-info {
  margin: 1.5%;
  padding: 0;
}

.salary-num {
  color: #F9AE06;
  font-size: 1.1em;
}

.gender {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .card {
    height: 40vh;
    width: 100%;
    font-size: .8em;
  }
}

@media screen and (max-width: 550px) {
  .card {
    height: 40vh;
    width: 100%;
    font-size: 1em;
  }

  .card-info {
    margin: 0.6%;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .card {
    grid-gap: .25em;
  }
}
