.logo-title {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
    color: #4c4d4f;
    font-size: 3em;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.logo {
    height: 6.5em;
    width: 6.5em;
}

.username {
  font-size: 2.2em;
  font-weight: bolder;
  color: #4c4d4f;
  width: 16vw;
}

@media screen and (max-width: 1250px) {
  .logo {
    height: 5.8em;
    width: 5.8em;
  }

  .username {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1050px) {
  .logo {
    height: 5.8em;
    width: 5.8em;
  }

  .username {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 875px) {
  .logo {
    height: 5.2em;
    width: 5.2em;
  }

  .username {
    font-size: 1.6em;
  }

  .title {
      font-size: 2.2em;
  }
}

@media screen and (max-width: 775px) {
  .username {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 750px) {
  .username {
    font-size: 1.3em;
  }
}
