.logo-title {
   /* display: grid;
    grid-template-columns: 100px 300px auto;
    grid-template-rows: 120px;
    align-items: center;
    justify-items: center;
    grid-gap: 0 10px;
    list-style: none; */
    display: flex;
    align-items: center;
    margin: 0 1%;
    padding-left: 0;
}

.title {
    color: #4c4d4f;
    font-size: 3em;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.login-btn {

}

.logo {
    height: 7em;
    width: 7em;
}
