.logo-title {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
    color: #4c4d4f;
    font-size: 3em;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.logo {
    height: 6.5em;
    width: 6.5em;
}

.username {
  font-size: 2em;
  margin-right: 1%;
  font-weight: bolder;
  color: #4c4d4f;
  width: 12vw;
}
